{% extends "base.html" %}
{% block content %}
{% load static %}

{{ id_conversation|json_script:"id_conversation" }}
{{ id_user|json_script:"id_user" }}
<div class="hidden" id="user_conv">{{ infos_user.id }}</div>

<script type="module" src="{% static 'js/message.js' %}" defer></script>

<section class="box_message">
    <div class="infos_user">
        <div class="pic_message_user"><img src="/media/{{ infos_user.image_profile }}" alt="pic_user"></div>
        <div class="title_message_user">{{ infos_user.username }}</div>
    </div>

    <div class="container_message">
        <div class="content_message">
            <!-- message's user -->
        </div>
    </div>
    
    <form class="form_message" id="form_message">
        <input type="text" name="input_message" id="input_message" class="input_message" placeholder="message,...">
        <input type="submit" class="button_message" value="Send">
    </form>

</section>
{% endblock %}