{% extends "base.html" %}
{% block content %}
{% load static %}

{{ id_conversation|json_script:"id_conversation" }}
{{ id_user|json_script:"id_user" }}

<script src="{% static 'js/message.js' %}" defer></script>

<section class="box_message">

    <div class="container_message">
        <div class="content_message">
            <!-- message's user -->
        </div>
    </div>
    
    <form class="form_message" id="form_message">
        <input type="text" name="input_message" id="input_message" class="input_message" placeholder="message,...">
        <input type="submit" class="button_message" value="Send">
    </form>

</section>
{% endblock %}