{% load static %}
<script type="module" src="{% static 'js/menu.js'%}" defer></script>
<div class="menu_container">
    <div class="menu">
        <a href="/message"><div class="title_menu">Messaging</div></a>
        
        {% if user.is_authenticated %}
            
            <form action="" class="search_user_form">
                <input type="text" name="search_user" id="search_user" class="input_menu" placeholder="Search">
            </form>
            
            <div id="box_user_search"><!-- box user --></div>
        {% else %}
            <a href="/user/login"><div class="elt_menu">Login</div></a>
            <a href="/user/registrer"><div class="elt_menu">Registration</div></a>
            <a href="/user/logout"><div class="elt_menu">Logout</div></a>
        
        {% endif %}
        
    </div>
</div>